{{ define "layout/course_page" }}

{{ template "base/header" . }}

<h2 style="margin-left:7.5px">{{ .Course.CID }}: {{ .Course.Name }}</h2>
<div class="container">
	<div class="row">
		<div class="col-sm"><b>Department: </b>{{ .Course.Dept }}</div>
		<div class="col-sm"><b>Unit: </b>{{ .Course.Units }}</div>
		<div class="col-sm"><b>Course level: </b>{{ .FCE.Level }}</div>
	</div>
	{{ if gt .FCE.Hours 0.0 }}
	<div class="row">
		<div class="col-sm-4"> <b>FCE Hour: </b>{{ .FCE.Hours }}</div>
		<div class="col-sm-4"> <b>FCE Rate: </b>{{ .FCE.CourseRate }}</div>
	</div> 
	{{ end }}
</div>
<br>
<div class="container">
	<h3>Professor</h3>
	{{ range $prof := .ProfArray }}
		<div class="row">
			<div class="col-sm-4">{{ $prof.Name }}</div>
			{{ if gt $prof.RatingOverall 0.0 }}
				<div class="col-sm-4">Rate My Professor: {{ $prof.RatingOverall }}</div>
			{{ end }}
		</div>
	{{ end }}
</div>
<br>
<div class="container">
	<h3>Course Description</h3>
	<div>{{.Course.Description}}</div>
</div>
<div class="container">
	{{ if ne .Course.Prereq "" }}
	<div><b>Pre-requisite: </b>{{.Course.Prereq}}</div>
	{{ end }}
	{{ if ne .Course.Coreq "" }}
	<div><b>Co-requisite: </b>{{.Course.Coreq}}</div>
	{{ end }}
</div>  

<!--Related Pages-->
<h4 style="margin-top: 30px;">Related Pages</h4>

{{ range $index, $page := .PageArray }}
<div style="margin-bottom: 20px;">
	<div>
		<a target="_blank" href="{{ $page.Link }}" style="text-decoration: none;">{{ $page.Title }}</a>
		<small class="text-muted">{{ $page.Link }}</small>
	</div>
	<figure class="bg-active" style="border-left: .30rem solid #720dff;">
		<div style="margin-left: 20px;">
			{{ $maxLength := 500 }}
			{{ $length := len $page.Content }}
			{{ if le $length $maxLength }}
				{{ $page.Content }}
			{{ else }}
				{{ slice $page.Content 0 $maxLength }}<span id="page-{{ $index }}-less">...</span><span id="page-{{ $index }}-more" hidden>{{ slice $page.Content $maxLength }}</span>
				<a href="javascript:void(0)" onclick="pageContentToggle('page-{{ $index }}');" id="page-{{ $index }}-toggle" style="text-decoration: none;">More</a>
			{{ end }}
		</div>
	</figure>
</div>
{{ end }}

<div>
Fill out this <a target="_blank" href="https://forms.gle/bGfK5areKuayaYFS6" style="text-decoration: none;">form</a> to add a website!
</div>


<!--Tags-->
<h4 style="margin-top: 30px;">Tags</h4>
<div class="container">
	<div class="d-flex justify-content-start">
	{{ range $tag := .TagArray }}
		<a href="/search?exec=true&is_advanced=false&query={{ $tag.Content }}" class="btn btn-primary m-1">{{ $tag.Content }}</a>
	{{ end }}
	</div>
</div>


<!--Comment Box-->
<h3 style="margin-top: 60px;">Comments</h3>
<form>
	<fieldset>
		<div class="form-group">
			<!--
			<label for="exampleTextarea" class="form-label mt-4">Comment Board</label>
			-->
			<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Enter comment here"></textarea>
		</div>
		<button type="button" class="btn btn-primary" style="margin-top:10px">Send</button>
	</fieldset>
</form>

{{ range $comment := .CommentArray }}
<div class="card border-primary" style="margin-top: 20px">
	<div class="card-body">
		<div class="card-title" style="margin-left:7.5px">
			{{ $comment.Author }}
			<small class="text-muted">({{ $comment.Time }})</small>
			{{ if $comment.Self }}
				<span style="float: right;">
					<a href="javascript:void(0)"><i class="fa fa-edit"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-close"></i></a>
				</span>
			{{ end }}
		</div>
		<div class="card-text">
			{{ $comment.Content }}
			<div style="margin-top: 6px;">
				<a href="javascript:void(0)"><i class="fa fa-thumbs-o-up"></i></a>
				{{ $comment.Score }}
			</div>
		</div>
	</div>
</div>
{{ range $reply := $comment.Replies }}
<div class="card border-secondary" style="margin-top:5px; margin-left: 30px;">
	<div class="card-body">
		<div class="card-title" style="margin-left:7.5px">
			{{ $reply.Author }}
			<small class="text-muted">({{ $reply.Time }})</small>
			{{ if $reply.Self }}
				<span style="float: right;">
					<a href="javascript:void(0)"><i class="fa fa-edit"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-close"></i></a>
				</span>
			{{ end }}
		</div>
		<div class="card-text">
			{{ $reply.Content }}
		</div>
	</div>
</div>
{{ end }}
{{ end }}

<script>
function pageContentToggle(name) {
	elemLess = document.getElementById(name + "-less");
	elemMore = document.getElementById(name + "-more");
	elemToggle = document.getElementById(name + "-toggle");
	elemLess.hidden = !elemLess.hidden;
	elemMore.hidden = !elemMore.hidden;
	elemToggle.innerHTML = elemToggle.innerHTML == "More" ? "Less" : "More";
}
</script>

{{ template "base/footer" . }}

{{ end }}
