{{ define "layout/course_search" }}

{{ template "base/header" . }}

<h2 style="margin-left:7.5px">Search</h2>

<form onsubmit="return doSearch()">
<!-- Main search box -->
<div class="container" style="margin-top: 25px;">
	<div class="row justify-content-center">
		<div class="input-group">
			<div class="col-8">
				<input class="form-control" placeholder="Search by Course ID, Professor, or Keyword" id="searchbox">
			</div>
			<button class="btn btn-success btn-md" style="margin-left:5px" type="submit">Search</button>
		</div>
	</div>
	<a href="javascript:void(0)" style="margin-top:12px; text-decoration:none;" id="advance-mode" onclick="disappear()">Advanced Search</a>
</div>

<!-- Advanced search section -->
<div style="display:none;" id="advance-element">
	<ul class="nav nav-pills" style="margin-top: 10px;">
		<li class="nav-item btn-group" style="margin-top:8px; margin-left:10px;">
			<input type="checkbox" class="btn-check" id="btncheck1" checked="" autocomplete="off">
			<label class="btn btn-primary" for="btncheck1">Undergraduate</label>
			<input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
			<label class="btn btn-primary" for="btncheck2">Graduate</label>
		</li>

		<li class="nav-item dropdown" style="margin-top:8px; margin-left:10px;">
			<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">Department</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="javascript:void(0)" id="statid" onclick="toggle('statid')">Statistics &amp; Data Science</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="csid" onclick="toggle('csid')">Computer Science</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="eceid" onclick="toggle('eceid')">Electrical &amp; Computer Engineering</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="bioid" onclick="toggle('bioid')">Biology</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="mathid" onclick="toggle('mathid')">Mathematics</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="phiid" onclick="toggle('phiid')">Philosophy</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="econid" onclick="toggle('econid')">Economics</a></li>
			</ul>
		</li>

		<li class="nav-item dropdown" style="margin-top:8px; margin-left:10px;">
			<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Unit</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="javascript:void(0)" id="unit3" onclick="toggle('unit3')">0-3</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="unit8" onclick="toggle('unit8')">4-8</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="unit12" onclick="toggle('unit12')">9-12</a></li>
				<li><a class="dropdown-item" href="javascript:void(0)" id="unit+" onclick="toggle('unit+')">12+</a></li>
			</ul>
		</li>
	</ul>
</div>
</form>


<!-- Search result warning -->
<div class="alert alert-danger" role="alert" style="margin-top:20px" hidden>
	0 result returned from search engine. (You may have invalid course id, professor, or keyword input)
	<a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>



<div style="margin-top:40px;">
	<div class="row">
		{{ range $index, $course := .CourseArray }}
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
			<!-- <a href="/course/{{ $course.CID }}" style="display: block; text-decoration: none;"> -->
			<a href="javascript:void(0)" style="display: block; text-decoration: none;" onclick="modalOpen('course-{{ $index }}')">
			<span class="card text-white bg-primary mb-3">
				<div class="card-header" style="font-weight: bold;font-size: 120%;">{{ $course.CID }}: {{ $course.Name }}</div>
				<div class="card-body" style="margin-left:0.75%">
<!--					<h4 class="card-title">{{ $course.CID }}: {{ $course.Name }}</h4> -->
					{{ $maxLength := 200 }}
					{{ $length := len $course.Description }}
					{{ if le $length $maxLength }}
						<span class="card-text">{{ $course.Description }}</span>
					{{ else }}
						<span class="card-text">{{ slice $course.Description 0 $maxLength }}...</span>
					{{ end }}
				</div>
			</span>
			</a>
		</div>
		{{ end }}
	</div>
</div>

<div class="modal" style="display:none;" id="modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="name"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="modalClose()">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					<strong>Unit:</strong>
					<span id="unit"></span>
				</div> 
				<div>
					<strong>Description: </strong>
					<span id="description"></span>
				</div>
			</div>
			<div class="modal-footer">
				<a href="javascript:void(0)" class="btn btn-primary" id="ref">View More</a>
			</div>
		</div>
	</div>
</div>


<!-- Hidden course info -->
<span style="display: none;">
	{{ range $index, $course := .CourseArray }}
	<span id="course-{{ $index }}-elem">
		<span id="course-{{ $index }}-cid">{{ $course.CID }}</span>
		<span id="course-{{ $index }}-name">{{ $course.Name }}</span>
		<span id="course-{{ $index }}-units">{{ $course.Units }}</span>
		<span id="course-{{ $index }}-description">{{ $course.Description }}</span>
	</span>
	{{ end }}
</span>


<script>
var isAdvanced = false;
function disappear(){
	if (isAdvanced) {
    	document.getElementById("advance-element").style.display="none";
		document.getElementById("advance-mode").innerHTML = "Advanced Search"
		document.getElementById("advance-mode").style = "text-decoration:none;";
		isAdvanced = false;
	} else {
    	document.getElementById("advance-element").style.display = "block";
		document.getElementById("advance-mode").innerHTML = "Hide";
		document.getElementById("advance-mode").style = "text-decoration:underline;";
		isAdvanced = true;
  	}
}

function modalClose(){
	document.getElementById("modal").style.display = "none";
}

function modalOpen(str){
	document.getElementById("name").innerHTML = document.getElementById(str + "-cid").innerHTML + ": " + document.getElementById(str + "-name").innerHTML
	document.getElementById("unit").innerHTML = document.getElementById(str + "-units").innerHTML
	document.getElementById("description").innerHTML = document.getElementById(str + "-description").innerHTML
	document.getElementById("ref").href = "/course/" + document.getElementById(str + "-cid").innerHTML
	document.getElementById("modal").style.display = "block";
}

function toggle(id){
	var element = document.getElementById(id)
	element.classList.toggle("active")
}

// Execute search
function doSearch() {
	// Detect if searchbox contains a single course number
	if (!isAdvanced) {
		const queryText = document.getElementById("searchbox").value;
		if (/^[0-9]{5}$/.test(queryText)) {
			window.location.assign("/course/" + queryText);
			return false;
		} else if (/^([0-9]{2})\-([0-9]{3})$/.test(queryText)) {
			const courseID = queryText.slice(0, 2) + queryText.slice(3);
			window.location.assign("/course/" + courseID);
			return false;
		}
	}
	// Fallback to search
	window.location.replace("/search?exec=true");
	return true;
}
</script>

{{ template "base/footer" . }}

{{ end }}
