{{ define "layout/course_search" }}

{{ template "base/header" . }}

<h2 style="margin-left:7.5px">Search</h2>

{{ template "widget/search" . }}

<div style="margin-top:40px;">
	<div class="row">
		{{ range $index, $course := .CourseArray }}
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
			<a href="/course/{{ $course.CID }}" style="display: block; text-decoration: none;" onclick="modalOpen('course-{{ $index }}');return false">
			<span class="card text-white bg-primary mb-3">
				<div class="card-header" style="font-weight: bold;font-size: 120%;">{{ $course.CID }}: {{ $course.Name }}</div>
				<div class="card-body" style="margin-left:0.75%">
<!--					<h4 class="card-title">{{ $course.CID }}: {{ $course.Name }}</h4> -->
					{{ $maxLength := 200 }}
					{{ $length := len $course.Description }}
					{{ if le $length $maxLength }}
						<span class="card-text">{{ $course.Description }}</span>
					{{ else }}
						<span class="card-text">{{ slice $course.Description 0 $maxLength }}...</span>
					{{ end }}
				</div>
			</span>
			</a>
		</div>
		{{ end }}
	</div>
</div>


<!-- Search result warning -->
{{ if .NoSearchResultWarning }}
<div class="alert alert-danger" role="alert">
	0 result returned from search engine. (You may have invalid course id, professor, or keyword input)
</div>
{{ end }}


<div class="modal" style="display:none;" id="modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="name"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="modalClose()">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					<strong>Unit:</strong>
					<span id="unit"></span>
				</div> 
				<div>
					<strong>Description: </strong>
					<span id="description"></span>
				</div>
			</div>
			<div class="modal-footer">
				<a href="javascript:void(0)" class="btn btn-primary" id="ref">View More</a>
			</div>
		</div>
	</div>
</div>


<!-- Hidden course info -->
<span style="display: none;">
	{{ range $index, $course := .CourseArray }}
	<span id="course-{{ $index }}-elem">
		<span id="course-{{ $index }}-cid">{{ $course.CID }}</span>
		<span id="course-{{ $index }}-name">{{ $course.Name }}</span>
		<span id="course-{{ $index }}-units">{{ $course.Units }}</span>
		<span id="course-{{ $index }}-description">{{ $course.Description }}</span>
	</span>
	{{ end }}
</span>

<script src="/js/search.js"></script>
<script>
// Modal controls
function modalClose(){
	document.getElementById("modal").style.display = "none";
}

function modalOpen(str){
	document.getElementById("name").innerHTML = document.getElementById(str + "-cid").innerHTML + ": " + document.getElementById(str + "-name").innerHTML
	document.getElementById("unit").innerHTML = document.getElementById(str + "-units").innerHTML
	document.getElementById("description").innerHTML = document.getElementById(str + "-description").innerHTML
	document.getElementById("ref").href = "/course/" + document.getElementById(str + "-cid").innerHTML
	document.getElementById("modal").style.display = "block";
}

// Close modal at Esc key
document.addEventListener('keydown', (event) => {
	if (event.key === 'Escape') {
		modalClose();
	}
});
</script>

{{ template "base/footer" . }}

{{ end }}
