{{ define "layout/home" }}

{{ template "base/header" . }}

<h2 style="margin-left:7.5px">CMU Course List</h2>


<h4 style="margin-left:7.5px">Search</h4>

{{ template "widget/search" . }}

<!--
<div class="container" style="margin-top:3%;  margin-left:20%">
	<div class="row">
		<div class="col">
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
		</div>
	</div>
	<div class="row" style="margin-top:1%">
		<div class="col">
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Tag</a>
		</div>
	</div>
	
</div>
-->

<script src="/js/search.js"></script>

{{ template "base/footer" . }}

{{ end }}
