{{ define "layout/home" }}

{{ template "base/header" . }}

<h2 style="margin-left:7.5px">CMU Course List</h2>

Welcome to CMUCourseList! On this website, you can find information related to all courses at CMU, discuss a course you really like/hate, and quickly go to links related to a course.


<h3 style="margin-left:7.5px; margin-top: 40px;">Search</h3>

{{ template "widget/search" . }}

<h3 style="margin-left:7.5px; margin-top: 40px;">Topics</h3>

<div class="container">
	<div class="d-flex justify-content-start">
		<span>
			<a href="/search?exec=true&is_advanced=false&query=C%2B%2B" class="btn btn-primary m-1">C++</a>
			<a href="/search?exec=true&is_advanced=false&query=Dynamic Programming" class="btn btn-primary m-1">Dynamic Programming</a>
			<a href="/search?exec=true&is_advanced=false&query=Network Flow" class="btn btn-primary m-1">Network Flow</a>
			<a href="/search?exec=true&is_advanced=false&query=Ray Tracing" class="btn btn-primary m-1">Ray Tracing</a>
		</span>
	</div>
</div>
<div class="container">
	<div class="d-flex justify-content-start">
		<span>
			<a href="/search?exec=true&is_advanced=false&query=Operational Amplifier" class="btn btn-primary m-1">Operational Amplifier</a>
			<a href="/search?exec=true&is_advanced=false&query=Phasor" class="btn btn-primary m-1">Phasor</a>
			<a href="/search?exec=true&is_advanced=false&query=Register-Transfer" class="btn btn-primary m-1">Register-Transfer</a>
		</span>
	</div>
	
</div>

<!-- HitRate++ section -->
<h3 style="margin-left:7.5px; margin-top: 40px;">HitRate++</h3>
<div class="container">
	<div class="d-flex justify-content-start">
		<span>
			<a href="/course/15122" class="btn btn-info m-1">15122</a>
		</span>
	</div>
	<small class="m-1"> (data is updated weekly) </small>
</div>


<script src="/js/search.js"></script>

{{ template "base/footer" . }}

{{ end }}
